extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  table#inbound-booking-requests
    tr
      th Property Name
      th Start Date
      th End Date
      th Received
      th Approve
      th Decline
    each request, index in bookingRequests
      tr(id="booking-request-" + index)
        td= request.listingName
        td= request.requestStartDate
        td= request.requestEndDate
        td= request.requestMadeDate
        td
          button(id="approve-request-" + index, class="button") Approve
        td
          button(id="decline-request-" + index, class="button") Decline
