extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  ul#inbound-booking-requests
  each request, index in bookingRequests
    li(id="booking-request-" + index)= "Request for: " + request.listingName + " received on: " + request.requestMadeDate
