extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  p#message #{welcomeMessage}
  br
  section#user-listing-section
    h1 Your Properties
    br
    a#view-listings(href="/users/" + userId + "/listings") Your Properties
    br
    a#add-listing(href="/listings/new") Add Listing
    br
    a#inbound-booking-requests(href="/users/" + userId + "/listings/bookingRequests") Booking Requests On Your Properties
  section#user-trips-section
    h1 Your Trips
    a#outbound-booking-requests(href="/users/" + userId + "/bookingRequests") Booking Requests You've Made
