extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  p#message #{welcomeMessage}
  br
  a#view-listings(href="/listings") View Listings
  br
  a#add-listing(href="/listings/new") Add Listing
  br
  a#booking-requests(href="/users/:user-id/booking-requests") Booking Requests
