extends ../layout.pug
block header
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/profile.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.1/css/all.css",
integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")

block nav
  nav
    a#sign-out-nav(href="/signout") Sign Out
    a#view-listings-nav(href="/listings") View Listings

block content
  section(class="user-properties" class="split" class="left")
    h1 Your Properties
    a#view-listings(href="/users/" + userId + "/listings")
      div(class="mini-container")
        i(class="fas fa-igloo")
        h3 Your Properties
    a#add-listing(href="/listings/new")
      div(class="mini-container")
        i(class="fas fa-plus")
        h3 Add A Property
    a#inbound-booking-requests(href="/users/" + userId + "/listings/bookingRequests")
      div(class="mini-container")
        i(class="fas fa-tags")
        h3 Booking Requests
  section(class="user-trips" class="split" class="right")
    h1#right-heading Your Trips
    a#outbound-booking-requests(href="/users/" + userId + "/bookingRequests")
      div(class="right-div", class="mini-container")
        i(class="fas fa-user-tag")
        h3 Your Booking Requests

block footer
  footer
