extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  p#message #{welcomeMessage}
  br
  a#view-listings(href="/listings") View Listings
  br
  a#add-listing(href="/listings/new") Add Listing
  br
  a#inbound-booking-requests(href="/users/" + id + "/listings/bookingRequests") Booking Requests On Your Properties
