<!DOCTYPE html>
<html>
<head>
  <title>FairBnB</title>
</head>
<body>
  <header>
    <nav>
      <a href="/user/new" id="sign-up">Sign Up</a>
    </nav>
  </header>
  <form action="/" method="post">
    <label for="username">Username</label></br>
    <input id="username" name="username" type="email"></br>
    <label for="password">Password</label></br>
    <input id="password" name="password" type="password"></br>
    <label for="firstname">First Name</label></br>
    <input id="firstname" name="firstname" type="text"></br>
    <label for="lastname">Last Name</label></br>
    <input id="lastname" name="lastname" type="text"></br>
    <button id="register" type="submit">Register</button>
  </form>
</body>
</html>
