extends ../layout.pug
block content
  each property, index in properties
    article(id=index)
      h4(id="name-"+index)= "Name: " + property.name
      p(id="description-"+index)= "Description: " + property.description
      p(id="price-"+index)= "Price Per Night: " + property.price
