extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  each listing, index in listings
    a(id="listing-"+index, href="/listings/" + listing.name)
      article(id=index)
        h4(id="name-"+index)= "Name: " + listing.name
        p(id="description-"+index)= "Description: " + listing.description
        p(id="price-"+index)= "Price Per Night: " + listing.price
