extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  article(id="listing")
    h4(id="name")= "Name: " + listing.name
    p(id="description")= "Description: " + listing.description
    p(id="price")= "Price Per Night: " + listing.price
  form(action= listing._id + "/bookingRequest/new", method="POST")
    input(id="booking-start-date", type="date")
    br
    input(id="booking-end-date", type="date")
    br
    button#booking-request(type="submit") Send Booking Request
