extends ../layout.pug
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  article(id=index)
    h4(id="name-"+index)= "Name: " + name
    p(id="description-"+index)= "Description: " + description
    p(id="price-"+index)= "Price Per Night: " + price
  form(action=":listing-id/booking-request/new", method="POST")
    input(id="booking-start-date", type="date")
    br
    input(id="booking-end-date", type="date")
    br
    button#booking-request(type="submit") Send Booking Request
