extends ../layout.pug
block header
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/newListing.css")

block content
  form#new-listing(action="/listings", method="POST", enctype="multipart/form-data")
    label(for="name") Property Name
    input#name(type="text", name="name")
    label(for="description") Describe Your Property
    textarea#description(name="description", maxlength="160")
    p#character-count
    label(for="price") Price Per Night
    input#price(type="number", name="price", min="0" oninput="validity.valid||(value='');")
    p#price-warning
    label Add A Photo
    label(for="image", class="photo-button") Choose photo
    p#filename No photo chosen
    input#image(type="file", class="hidden", name="image")
    br
    button#create-listing(type="submit") Create Listing

  script(type="text/javascript" src="/javascripts/filenameGrabber.js")
  script(type="text/javascript" src="/javascripts/characterCountChecker.js")
  script(type="text/javascript" src="/javascripts/numberChecker.js")
