extends ../layout.pug

block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  form#new-listing(action="/listings", method="POST", enctype="multipart/form-data")
    label(for="name") Name
    br
    input#name(type="text", name="name")
    br
    label(for="price") Price Per Night
    br
    input#price(type="number", name="price")
    br
    label(for="description") Describe Your Property
    br
    textarea#description(name="description")
    br
    label(for="Image") Add A Photo
    br
    input#image(type="file", name="image")
    br
    br
    button#create-listing(type="submit") Create Listing
