extends ../layout.pug
block header
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/newListing.css")

block nav
  nav
    a#sign-out-nav(href="/signout") Sign Out
    a#view-listings-nav(href="/listings") View Listings

block content
  form#new-listing(action="/listings", method="POST", enctype="multipart/form-data")
    label(for="name") Property Name
    input#name(type="text", name="name")
    label(for="description") Describe Your Property
    textarea#description(name="description")
    label(for="price") Price Per Night
    input#price(type="number", name="price")
    label Add A Photo
    label(for="image", class="photo-button") Choose photo
    p#filename No photo chosen
    input#image(type="file", class="hidden", name="image")
    br
    button#create-listing(type="submit") Create Listing


  script(type="text/javascript" src="/javascripts/filenameGrabber.js")
