doctype html
html
  head
    title FairBnB
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans|Nunito")
    link(rel="stylesheet", type="text/css", href="/stylesheets/layout.css")
    block header
  body
    header
    block nav
      nav
       if loggedIn
        a#sign-out(href="/signout") Sign Out
        a#view-listings-nav(href="/listings") View Listings
        a#your-home(href="/users/" + userId) Your Home
       else
        a#sign-in(href="/users") Sign In
        a#sign-up(href="/users/new") Sign Up
    block content
      div#welcome Find your dream place
  footer
    block footer
