doctype html
html
  head
    title FairBnB
  body
    header
    block nav
      nav
       a#view-listings-nav(href="/listings") View Listings
       a#sign-in(href="/session/new") Sign In
       a#sign-up(href="/users/new") Sign Up
    block content
    br
    footer
      p#footer Copyright &copy2019
