extends ../layout.pug

block nav
  nav
    a#sign-up(href="/users/new") SIGN UP

block content
  form(action="/session", method="POST")
    fieldset
      legend Welcome Back
      label(for="username") Username
      input#username(type="email", name="username")
      br
      label(for="password") Password
      input#password(type="password", name="password")
      br
      button#sign-in(type="submit") Sign In
  if locals.message
    p(id="error-message")=message
